* {
    padding: 0;
    margin: 0;
}

body {
    padding: 2rem;
    text-align: center;
    background-color: aliceblue;
    color: black;
    font-size: x-large;
    font-family: "Bebas Neue", sans-serif;
}

.article {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 3px 5px #7a70cb;
}

header {
    padding: 1rem;
}

.card {
    background-color: #a69ddc;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

header div {
    padding: 5px;
}

header div:first-child {
    flex-basis: 100%;
    font-size: 2.25rem;
}

header div:nth-child(n + 2) {
    padding: 1rem 3.5rem 0 3rem;
    font-size: 1.5rem;
}

.options {
    text-align: left;
    padding-left: 1rem;
}

input, select, button {
    width: 95%;
    padding-left: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    height: 40px;
    font-family: "Bebas Neue", sans-serif;
}

label {
    padding-left: 1rem;
}

.btn {
    padding: 1rem 0 1rem 0;
    width: 100%;
}

button {
    font-size: x-large;
    background-color: #a69ddc;
    font-weight: 600;
}

.table {
    padding-top: 2rem;
    width: 100%;
}

table thead tr th {
    display: inline-block;
    width: 220px;
}

tbody tr td{
    border: 1px solid #000;
    display: inline-block;
    width: 220px;
    height: 2rem;
}

tr button {
    height: 2rem;
}
